.App {
  font-family: monospace;
  font-size: 18px;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  /* height: 100vh; */
}

.nou a { 
  text-decoration: none; 
} 

.row {
  display: flex;
}
.row_end {
  display: flex;
  margin-top: 1em;
}

.col {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: lightyellow;
}
.col_end {
  width: 45px;
  height: 45px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.col_end_highlight {
  width: 45px;
  height: 45px;
  border: 1px solid darkorange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bolder;
}

.plaintext {
  background-color: #C1FFD5;
  font-weight: bold;
}

.highlight1 {
  background-color: darkorange;
  font-weight: bold;
}
.highlight2 {
  background-color: darkorange;
  font-weight: bold;
}

@keyframes high {
  from {background-color: orange; color: #ddd;}
  to {background-color: lightyellow; color: black;}
}

.controls {
  margin-right: 3em;
}

.l {text-align: right; font-weight: bold;}
.l:after {content: ": "}

.counter {
  color: black;
  margin-top: 1em;
}